.signup-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
}

.signup-header {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
    color: white;
}

.signup-form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: purple;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%; /* Adjust the width of the form as needed */
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
}

.signup-button {
    background-color: purple;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 30%;
    align-self: flex-end;
}

.signup-button:hover {
    background-color: #7e57c2; /* Adjust the hover background color as needed */
}
